<div class="container my-5">
  <div class="card" style="width: 50%; margin: auto">
    <img
      class="card-img-top"
      [src]="baseUrl + store?.storeLogo"
      alt="Card image cap"
      (error)="handlenImgError($event)"
      style="max-height: 450px"
    />
    <div class="card-body">
      <h5 class="card-title">{{ store?.storeName }}</h5>
      <p class="card-text">
        {{ store?.storeDescription }}
      </p>
      <a routerLink=".." class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
